In [55]:
# Create individual csv files of corresponding date

In [ ]:
#read input
import pandas as pd
df = pd.read_csv('sample.csv')
# df.head()

In [56]:
#convert to date format
df['created_date']=pd.to_datetime(df['created_date'])
# df.head

In [147]:
# Read input date
inp = input('Enter-date')
inp = pd.Timestamp("{}".format(inp))
# print(inp)

Enter-date7 july 2020

In [148]:
df

    c1         c2    c3 created_date
0  100   tasmania  zzzz   2020-10-14
1  101     sydney   abc   2020-10-28
2  102  melbourne   lmn   2020-01-11
3  103   brisbane   xyz   2020-02-11
4  114  melbourne   mmm   2020-05-11
5  105      perth   ddd   2020-06-11
6  104   adalaide   xyz   2020-07-11
7  105      perth   ddd   2020-07-11

In [149]:
inp_mask = df['created_date'].map(lambda x: (x.month,x.year))==(inp.month,inp.year)
df[inp_mask]

    c1        c2   c3 created_date
6  104  adalaide  xyz   2020-07-11
7  105     perth  ddd   2020-07-11

In [41]:
# save as csv file
df = df[df['created_date'] == inp]
df.to_csv('{}.csv'.format(inp))

In [43]:
#Combined
import pandas as pd
df = pd.read_csv('sample.csv')
df['created_date']=pd.to_datetime(df['created_date'])
inp = input('Enter-date')
inp = pd.Timestamp("{}".format(inp))
df = df[df['created_date'] == inp]
df.to_csv('{}.csv'.format(inp))

Enter-dateoct 2020

In [161]:
#Combined along with month and year
import pandas as pd
df = pd.read_csv('sample.csv')
df['created_date']=pd.to_datetime(df['created_date'])
inp = input('Enter-date')
inp = pd.Timestamp("{}".format(inp))
df2 = df[df['created_date'] == inp]
inp_mask = df['created_date'].map(lambda x: (x.month,x.year))==(inp.month,inp.year)
df3 = df[inp_mask]
inp=str(inp)
df2.to_csv('{}.csv'.format(inp[:-9]))
df3.to_csv('{}.csv'.format(inp[:-12]))

Enter-date14 oct 2020